#templates-view-field {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 3;
    background-color: rgba(199, 236, 252, 0.5);    
    width:100%;

    .mat-checkbox-checked.mat-accent .mat-checkbox-frame,
    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
        border-color: gray;
    }
    .mat-checkbox-checkmark-path{
        stroke: gray !important;
    }

    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
        border-color: gray;
    }
        
    .mat-radio-inner-circle {
        background: gray;
    }
    
    &.mantdatory{
        border:1px solid red;
    }
    &.active{
        background-color: rgba(255, 255, 100, 0.5);           
        cursor: text;
        .mat-checkbox-checked.mat-accent .mat-checkbox-frame,
        .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
            border-color: #7b1fa2;
        }
        .mat-checkbox-anim-unchecked-checked .mat-checkbox-checkmark-path{
            stroke: #7b1fa2 !important;
        }
        
        .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
            border-color: #7b1fa2;
        }
            
        .mat-radio-inner-circle {
            background: linear-gradient(60deg, #ab47bc, #7b1fa2);
        }        
    }

    .handle-resize {
        position: absolute;
        bottom: 1px;
        right: 1px;
        cursor: nw-resize;
        width: 0;
        height: 0;
        z-index: 0;
        border-style: solid;
        border-width: 0 0 7px 7px;
        border-color: transparent transparent #000000 transparent;
    }

    .handle-remove {
        position: absolute;
        top: -10px;
        right: -10px;
        color: red;
        font-size: 12px;
        cursor: pointer;
        opacity: 0.50;
    }

    .drag-text-field, 
    .drag-textarea-field, 
    .drag-checkbox-field,
    .drag-radio-field,
    .drag-select-field{
        background: transparent;
        padding: 0px;
        border: 1px solid lightgray;
        height: 100% !important;
        width: 100% !important;

    }

    .drag-checkbox-field,
    .drag-radio-field{
        border:none;
    }

    .drag-draw-div {
        height: 100% !important;
        width: 100% !important;
        cursor: pointer;
    }
    
    .drag-daw-initial-field,
    .drag-draw-sign-field{
        background: transparent;
        padding: 0px;
        border: 1px solid lightgray;      
        height: 100% !important;
        width: 100% !important;
    }

    .drag-date-field{
        display: flex;
        justify-content: space-between;
        icon{
            color: gray;
        }
    }
    .drag-date-field-input {
        background: transparent;
        padding: 0px;
        border: 1px solid lightgray;       
        padding: 0px;        
        width: calc(100% - 30px);
        height: 100% !important;     
    }
    .drag-date-field-hidden {
        opacity: 0;
        z-index: 0;
    }
    .drag-date-field-input {
        position: absolute;
        z-index: 1;
    }

    .mat-select-trigger{
        height:100%;
    }
    .mat-radio-outer-circle,
    .mat-radio-inner-circle,
    .mat-checkbox-anim-checked-unchecked,
    .mat-checkbox-anim-unchecked-checked,
    .mat-checkbox-ripple,
    .mat-checkbox-layout
    {
        width:100%;
        height: 100%;
    }
    
    .mat-checkbox-ripple .mat-ripple-element,   
    .mat-radio-ripple .mat-ripple-element {
        background: linear-gradient(60deg, #ab47bc, #7b1fa2);
    }
    .mat-checkbox-checked.mat-accent .mat-checkbox-background, 
    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
        background: transparent;        
    }
    .mat-checkbox-ripple{
        top:0;
        left:0;
    }

    .mat-checkbox-checkmark{
        height: 100%;
    }
    .mat-radio-container,
    .mat-checkbox-inner-container
    {
        position: initial;
    }
    .mat-select-value{
        vertical-align: middle;
    }
}