<div id="templates-view-field" 
    [class.mantdatory]="field.is_mandatory"> 
    <!--- Form data for view -->
    <input *ngIf="field.type==FormFieldType.DATA_TEXT" 
        #inputEl
        readonly
        class="drag-text-field"
        [placeholder]="field.name"
        [(ngModel)]="field.value" 
        maxlength="{{field.length}}"/>

    <textarea *ngIf="field.type==FormFieldType.DATA_TEXT_BOX" 
        #textEl
        readonly
        class="drag-textarea-field"
        [placeholder]="field.name"
        maxlength="{{field.length}}"        
        [(ngModel)]="field.value"></textarea>

    <div *ngIf="field.type==FormFieldType.DATA_DATE" class="drag-date-field">
        <div>
           <input 
                #dateEl
                readonly
                [ngModel]="setStringAsDateFormat(field)" 
                class="drag-date-field-input" 
                [placeholder]="field.name" >
        </div>
        <div>
            <i class="material-icons" disabled>today</i>
        </div>
    </div>

    <mat-checkbox
        *ngIf="field.type==FormFieldType.DATA_CHECK_BOX" 
        #checkboxEl
        [disabled]="'true'"
        class="drag-checkbox-field"
        [(ngModel)]= "field.value"    
        [disableRipple]="'true'">
    </mat-checkbox>

    <mat-radio-group 
        *ngIf="field.type==FormFieldType.DATA_RADIO"
        [(ngModel)]="field.value">
        <mat-radio-button            
            #radioEl
            [disabled]="'true'"
            class="drag-checkbox-field"
            [value]="'1'"
            [disableRipple]="'true'">
        </mat-radio-button>
    </mat-radio-group>

    <mat-select 
        *ngIf="field.type==FormFieldType.DATA_SELECT" 
        #selectEl
        [disabled]="'true'"
        class="drag-select-field"
        [(ngModel)]="field.value"        
        [placeholder]="field.name" >
        <mat-option *ngFor="let option of getSelectOptionsFromField(field)" [value]="option">{{option}}</mat-option>
    </mat-select>        
    <!--- /Form data for view -->

    <!--- Form sign data for view -->
    <div class="drag-draw-div" *ngIf="field.type==FormFieldType.SIGN_INITIAL">
        <img class="drag-draw-sign-field" 
            *ngIf="field.sign_path" 
            [src]="field.sign_path"
            (load)="getImageData($event, field)">
    </div>

    <div class="drag-draw-div" *ngIf="field.type==FormFieldType.SIGN_DRAW">
        <img class="drag-daw-initial-field" 
            *ngIf="field.sign_path" 
            [src]="field.sign_path"
            (load)="getImageData($event, field)">
    </div>

    <input *ngIf="field.type==FormFieldType.SIGN_NAME" 
        #signNameEl
        readonly
        class="drag-text-field"
        [readonly]="!isSelect" 
        [(placeholder)]="field.name"
        [(ngModel)]="field.value" />

    <input *ngIf="field.type==FormFieldType.SIGN_EMAIL" 
        #signEmailEl
        type="email"
        readonly
        class="drag-text-field"
        [placeholder]="field.name"
        [(ngModel)]="field.value" />
            
    <div *ngIf="field.type==FormFieldType.SIGN_DATE" class="drag-date-field">
        <div>
            <input 
                #signDateEl
                readonly 
                [ngModel]="setStringAsDateFormat(field)" 
                class="drag-date-field-input" 
                [placeholder]="field.name" >
        </div>
        <div>
            <i class="material-icons">today</i>
        </div>
    </div>
</div>