:host{
    position: relative;
    #property-date{

        padding:10px;
        border-radius: 4px;
        border: 1px solid #AEAEAE;
        margin-bottom: 20px;

        label{
            color: black;
        }

        .groups-item{
            border-bottom: 1px solid #3C4858;
        }
        
    }
}