<div id="thanks-save-dialog">
    <h4 matDialogTitle class="modal-title">Thanks for save template</h4>
    <div mat-dialog-content class="modal-body">

            <div class="row">

                    <button type="button" class="btn btn-primary form-btton" (click)="dialogRef.close(false)">
                        <i class="material-icons">close</i> Close
                    </button>

                    <button type="button" class="btn btn-primary form-btton" (click)="viewForm()">
                        <i class="material-icons">laptop_mac</i> View Form
                    </button>
                    
            </div>
    </div>
</div>
