:host{
    position: relative;
    #templates-edit-property-field{
        //position: fixed;
        label{
            color: black;
        }
        .property-guide{
            border: 1px solid #7b1fa2;
            padding: 10px;
            margin-bottom: 20px;
            color: #7b1fa2;
        }

        .groups-item{
            border-bottom: 1px solid #3C4858;
        }
        
        .property-group{
            padding:10px;
            border-radius: 4px;
            border: 1px solid #AEAEAE;
            margin-bottom: 20px;
        }

        .save-field{
            width: 100%;
        }
    }
}