.template-sign-pad-dialog {
    #sign-pad-dialog{
        min-width: 440px;
        max-width: 550px;
        .draw-sign-pad {
            border: 1px solid black;
        }
        .color-picker{
            width: 100px;
            border:none;          
        }
        .sign-image{
            width: 200px;
            height: 100px;
            border: 1px solid gray;
        }
        canvas {
            border: 1px solid gray;
        }
    
        label {
            color: blak;
        }
    
        .btn {
            width: 120px;
        }  
    }

}

