:host{
    position: relative;
    #templates-edit-toolbox{
        .card-body{
            padding:10px;
            width: 100%;
        }

        .toolbox{
            
            .card{
                padding:10px;
                border-radius: 4px;
                border: 1px solid #AEAEAE;
                margin-bottom: 20px;  
            }
            .groups-item{
                border-bottom: 1px solid #3C4858;
            }
            .fields-item{
                width:100%;
                padding:5px 5px;
                cursor: pointer;
                border-radius: 4px;
                user-select: none;
            }
            .fields-item:hover{
                background-color: silver;
            }
        }
    }
}