<div id="templates-view-property">
    <div class="card card-nav-tabs">
        <div class="card-header card-header-primary">
            Form Property
        </div>
        <div class="card-body">
            <div class="property-group">
                <div class="form-group">
                    <h6 class="font-weight-bold">Name:</h6>
                    <p class="control-label">{{templateForm.name}}</p>
                </div>

                <div class="form-group">
                    <h6 class="font-weight-bold">Description:</h6>
                    <p class="control-label">{{templateForm.description}}</p>
                </div>
                
                <div class="form-group">
                    <h6 class="font-weight-bold">Author:</h6>
                    <p class="control-label">{{templateForm.user_name}}</p>
                </div>

                <div class="form-group">
                    <h6 class="font-weight-bold">Pages:</h6>
                    <p class="control-label">{{templateForm.pages}}</p>
                </div>
                
                <div class="form-group">
                    <h6 class="font-weight-bold">Share:</h6>
                    <p class="control-label">{{templateForm.share_all ? 'Yes' : 'No'}}</p>
                </div>                
            </div>

            <div class="button-group">
                <button type="button" class="btn btn-primary form-btton" (click)="close()"><i class="material-icons">arrow_back</i> Close</button>
                <!-- <button type="button" class="btn btn-primary form-btton" (click)="send()"><i class="material-icons">send</i> Send</button> -->
                <button type="button" class="btn btn-primary form-btton" (click)="downloadPdf()"><i class="material-icons">picture_as_pdf</i> Download PDF</button>
            </div>            
        </div>

    </div>
</div>